/*其他字体引入*/

@font-face {
    font-family: 'moneyfont';
    src: url('../fonts/GothaProMed.woff.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/GothaProMed.woff.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GothaProMed.woff.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/GothaProMed.woff.woff') format('woff'), /* Modern Browsers */
    url('../fonts/GothaProMed.woff.svg') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/*头部顶部*/

.header_wrap {
    background: #fff;
    position: relative;
}

.header_wrap:after {
    content: "";
    display: block;
    border-bottom: 1px solid #dedede;
    margin-top: -1px;
}

.header_tp {
    height: 35px;
    background: #F1F1F1;
}

.header_cter {
    width: 1200px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
}

.header_welcome {
    float: left;
    height: 100%;
}

.header_welcome>span {
    float: left;
    display: inline-block;
    font-size: 12px;
    color: #383838;
    margin-right: 26px;
}

.header_welcome a {
    display: inline-block;
    font-size: 12px;
}

.header_welcome .signlink {
    float: left;
    color: #282828;
    padding: 0 12px;
}

.header_welcome .reglink {
    float: left;
    color: #7f7f7f;
    padding: 0 12px;
}

.header_func {
    float: right;
    height: 100%;
}

.header_func li {
    float: left;
    height: 100%;
    position: relative;
}

.header_func li a {
    display: inline-block;
    font-size: 12px;
    color: #7f7f7f;
    padding: 0 12px 0 10px;
    vertical-align: top;
}

.header_func li:first-child a {
    color: #e00505;
}

.header_func .li05 img {
    max-width: initial;
    max-width: none;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -72px;
    display: none;
    z-index: 99999;
}

.header_func .li05:hover img {
    display: block;
}

.header_func li a:after {
    content: "";
    float: left;
    width: 18px;
    height: 35px;
    margin-right: 4px;
}

.header_func li.li02 a:after {
    background: url("../../../images/common/contact_icon.png") no-repeat center center;
}

.header_func li.li03 a:after {
    background: url("../../../images/common/help_icon.png") no-repeat center center;
}

.header_func li.li04 a:after {
    background: url("../../../images/common/report.png") no-repeat center center;
}

.header_func li.li05 a:after {
    background: url("../../../images/common/attention_icon.png") no-repeat center center;
}

.header_func li.li06 a:after {
    background: url("../../../images/common/phone_icon.png") no-repeat center center;
}

/*头部中部*/

.header_mid {
    width: 1200px;
    height: 106px;
    margin: 0 auto;
    position: relative;
}

.header_mid .logo {
    float: left;
    display: table;
    height: 106px;
}

.header_mid .logo .mid {
    display: table-cell;
    height: 106px;
    vertical-align: middle;
}

.header_mid .logo .mid a {
    display: inline-block;
    margin-top: -10px;
}

.header_mid .logo img {
    display: inline-block;
    max-height: 106px;
    max-width: none;
    max-width: initial;
}

.header_mid .logo_expain {
    margin-top: 12px;
    margin-left: 10px;
}

.search_box {
    width: 538px;
    height: 106px;
    position: absolute;
    top: 0;
    left: 332px;
}

.head_search {
    width: 100%;
    height: 34px;
    position: absolute;
    top: 31px;
    left: 0;
}

.searchform {
    width: 100%;
}

.searchform input.inp {
    width: 470px;
    height: 32px;
    line-height: 32px;
    background: #fff;
    text-indent: 12px;
    color: #282828;
    font-size: 14px;
    border-left: 1px solid #f31111;
    border-top: 1px solid #f31111;
    border-bottom: 1px solid #f31111;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.searchform input.button {
    width: 71px;
    height: 34px;
    line-height: 34px;
    background: url("../../../images/common/search_icon.png") #f31111 no-repeat center center;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    margin-left: -4px;
}

.headerm {
    position: absolute;
    left: 0;
    top: 70px;
}

.headerm li:first-child {
    padding-left: 8px;
    padding-right: 0;
}

.headerm ul {
    display: inline-block;
    vertical-align: top;
}

.headerm li {
    float: left;
    padding-right: 20px;
    line-height: 20px;
}

.headerm li a,
.headerm li span {
    color: #bdbcbc;
    font-size: 12px;
}

.headerm li.on a,
.headerm li:hover a {
    color: #e10b23;
}

.headerm .more {
    display: inline-block;
    color: #bdbcbc;
    font-size: 12px;
    margin-left: 32px;
}

.header_mid .sell_btn {
    display: block;
    width: 193px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    color: #3d3d3d;
    background: #f6f6f6;
    border: 1px solid #e3e3e3;
    position: absolute;
    top: 28px;
    right: 0;
}

.fixedtop {
    width: 100%;
    padding: 8px 0;
    background: #fff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    -webkit-transform: translateZ(0);
}

.fixedtop form {
    display: table;
    margin: 0 auto;
}

.fixedtop .sm_logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -560px;
}

.sm_logo {
    display: none;
}

.sm_logo img {
    width: 85px;
}

.fixedtop .searchform input.inp {
    width: 580px;
}

/*头部导航*/

.header_nav {
    width: 1200px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
}

.menu_wrap {
    height: 100%;
}

.menu_wrap:before,
.menu_wrap:after {
    content: "";
    display: block;
    clear: both;
}

.menu_wrap>li {
    float: left;
    height: 32px;
    padding: 0 15px;
    position: relative;
}

.menu_wrap>li:hover .tb-div {
    display: block;
}

.tb-div {
    width: 86px;
    background: #fff;
    border-top: 2px solid #e61716;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 8px;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.tb-div li a {
    display: block;
    padding: 0 8px 0 6px;
    line-height: 26px;
}

.tb-div li:hover a {
    color: #eb0c2c;
}

.menu_wrap>li:first-child {
    width: 225px;
    padding: 0;
    margin-right: 5px;
    background: #E81D17;
    line-height: 22px;
}

.menu_wrap>li:first-child .pull_down {
    visibility: hidden;
}

.menu_wrap>li:first-child:hover .pull_down {
    visibility: visible;
}

.menu_wrap>li:first-child>a {
    display: block;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-weight: normal;
}

.menu_wrap>li>a {
    display: inline-block;
    height: 32px;
    line-height: 26px;
    font-size: 16px;
    color: #e61716;
    font-weight: bold;
}

.menu_wrap>li.on>a:after {
    content: "";
    display: block;
    border-bottom: 2px solid #e61716;
    margin-top: 4px;
}

.menu_wrap>li.buylist.on>a:after {
    margin-left: -7px;
}

.menu_wrap>li>a span {
    display: inline-block;
    width: 10px;
    height: 23px;
    margin-left: 5px;
    vertical-align: top;
    background: url(../../../images/common/menu_pull_down.png) no-repeat left 11px;
}

.menu_wrap>li.sty_sm {
    /* padding: 0 12px; */
}

.menu_wrap>li.sty_sm>a {
    color: #282828;
    font-weight: normal;
}

/*hot&new图标*/

.menu_wrap .icon {
    display: inline-block;
    width: 31px;
    height: 18px;
    position: absolute;
    top: -11px;
    right: -16px;
    animation: downup 1s infinite linear;
    -webkit-animation: downup 1s infinite linear;
}

.menu_wrap .icon_new {
    background: url("../../../images/common/icon_new.png") no-repeat;
}

.menu_wrap .icon_hot {
    background: url("../../../images/common/icon_hot.png") no-repeat;
}

.menu_wrap .icon_ghu {
    background: url("../../../images/common/icon_ghu.png") no-repeat;
    right: 1px;
}

.menu_wrap .icon_11store {
    width: 62px;
    background: url("../../../images/common/icon_11store.png") no-repeat;
    right: -23px;
}

@keyframes downup {
    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -4px);
                transform: translate(0, -4px);
    }
    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@-webkit-keyframes downup {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -4px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

/*hot&new图标结束*/

/*下拉开始*/

.pull_down {
    width: 225px;
    height: 535px;
    position: absolute;
    top: 32px;
    left: 0;
}

.pull_down:hover {
    width: 945px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1);
}

.pull_sign {
    width: 224px;
    height: 105px;
    background: #2B2B2B;
    border-left: 1px solid #2B2B2B;
    border-top: 1px solid #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
}

.pull_sign.on {
    background: #fff;
    border-left: 1px solid #E81D17;
    border-top: 1px solid #E81D17;
    border-bottom: 1px solid #E81D17;
}

.pull_tab {
    margin: 0 26px 0 14px;
    height: 100%;
}

.pull_tab .sm_link {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    padding: 14px 0 6px;
}

.pull_sign:first-child .pull_tab .sm_link {
    padding: 20px 0 6px;
}

.pull_sign.on .pull_tab .sm_link {
    color: #282828;
}

.pull_sign.on .pull_tab .sm_link:hover {
    color: #e61716;
}

.pull_tab .sm_link i {
    display: inline-block;
    width: 40px;
    height: 20px;
    vertical-align: top;
    margin-right: 5px;
}

.pull_tab .sm_link .tall {
    background: url("../../../images/common/icon_tall.png") no-repeat left center;
}

.pull_tab .sm_link .taobao {
    background: url("../../../images/common/icon_tb.png") no-repeat left center;
}

.pull_tab .sm_link .jd {
    background: url("../../../images/common/icon_jd.png") no-repeat left center;
}

.pull_tab .sm_link .mg {
    background: url("../../../images/common/icon_mg.png") no-repeat left center;
}

.pull_tab .sm_link .other {
    background: url("../../../images/common/icon_other.png") no-repeat left center;
}

.pull_tab .sm_link:after {
    display: inline-block;
    width: 5px;
    height: 20px;
    content: "";
    vertical-align: top;
    float: right;
    background: url("../../../images/common/pull_right.png") no-repeat center center;
}

.pull_sign.on .pull_tab .sm_link:after {
    background: url("../../../images/common/pull_right_on.png") no-repeat center center;
}

.pull_tab .links {
    overflow: hidden;
}

.pull_tab .links a {
    float: left;
    display: block;
    width: 61px;
    line-height: 24px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.pull_sign.on .pull_tab .links a {
    color: rgba(40, 40, 40, 0.5);
}

.pull_sign.on .pull_tab .links a:hover {
    color: #e61716;
}

.pull_sign .pull_cont {
    display: none;
    width: 698px;
    padding: 0 10px;
    height: 533px;
    background: url("../../../images/common/pull_tall.png") no-repeat #fff right bottom;
    position: absolute;
    left: 225px;
    top: 0;
    border: 1px solid #E81D17;
}

.pull_sign .pull_cont:after {
    content: "";
    display: block;
    width: 1px;
    height: 105px;
    background: #fff;
    position: absolute;
    top: 0;
    left: -1px;
}

.pull_sign01 .pull_cont:after {
    top: 0;
}

.pull_sign02 .pull_cont:after {
    top: 107px;
}

.pull_sign03 .pull_cont:after {
    top: 214px;
}

.pull_sign04 .pull_cont:after {
    top: 321px;
}

.pull_sign05 .pull_cont:after {
    top: 428px;
}

.pull_sign01 .pull_cont {
    background: url("../../../images/common/pull_tall.png") no-repeat #fff right bottom;
}

.pull_sign02 .pull_cont {
    background: url("../../../images/common/pull_tao.png") no-repeat #fff right bottom;
}

.pull_sign03 .pull_cont {
    background: url("../../../images/common/pull_jd.png") no-repeat #fff right bottom;
}

.pull_sign04 .pull_cont {
    background: url("../../../images/common/pull_mg.png") no-repeat #fff right bottom;
}

.pull_sign05 .pull_cont {
    background: url("../../../images/common/pull_other.png") no-repeat #fff right bottom;
}

.pull_sign.on .pull_cont {
    display: block;
}

.hotstag {
    width: 100%;
    height: 20px;
    padding: 27px 0 20px;
    border-bottom: 1px dotted #E1E1E1;
}

.hotstag .tit {
    float: left;
    width: 42px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: url("../../../images/common/hotstag_tit.png") no-repeat;
}

.hotstag .cont {
    float: left;
    width: 656px;
    height: 20px;
    overflow: hidden;
}

.hotstag .cont a {
    display: inline-block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-left: 30px;
    font-size: 14px;
    color: #282828;
}

.hotstag .cont a:first-child {
    margin-left: 22px;
}

.hotstag .cont a:hover {
    color: #e61716;
}

.filtrate {
    width: 700px;
    margin-left: 0;
}

.filtrate li {
    padding: 16px 0 13px;
    border-bottom: 1px solid #E1E1E1;
    position: relative;
    overflow: hidden;
}

.filtrate li .title {
    float: left;
    width: 86px;
    min-height: 23px;
}

.filtrate li .title span {
    display: inline-block;
    line-height: 23px;
    font-size: 14px;
    color: #2f2f2f;
    margin-left: 10px;
    padding-left: 24px;
}

.filtrate li .title .filter_icon1 {
    background: url("../../../images/common/filter_icon1.png") no-repeat left center;
}

.filtrate li .title .filter_icon2 {
    background: url("../../../images/common/filter_icon2.png") no-repeat left center;
}

.filtrate li .title .filter_icon3 {
    background: url("../../../images/common/filter_icon3.png") no-repeat left center;
}

.filtrate li .title .filter_icon4 {
    background: url("../../../images/common/filter_icon4.png") no-repeat left center;
}

.filtrate li .title .filter_icon5 {
    background: url("../../../images/common/filter_icon5.png") no-repeat left center;
}

.filtrate li .cont {
    float: left;
    width: 614px;
    min-height: 23px;
}

.filtrate li .cont span {
    display: inline-block;
    float: left;
    width: 87px;
    height: 23px;
    margin-bottom: 5px;
}

.filtrate li .cont a {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    color: #515050;
    padding: 0 8px;
    border-radius: 11.5px;
    -webkit-border-radius: 11.5px;
}

.filtrate li .cont a:hover {
    color: #e61716;
}

.filtrate li .cont a.on {
    background: #e61716;
    background: -webkit-gradient(linear, left top, right bottom, from(#FB4B4F), to(#E82D32));
    background: linear-gradient(to bottom right, #FB4B4F, #E82D32);
    background: -webkit-linear-gradient(to bottom right, #FB4B4F, #E82D32);
    color: #fff;
}

.recom_goods {
    width: 700px;
    height: 148px;
    position: absolute;
    bottom: 0;
    left: 8px;
}

.recom_goods li {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.recom_goods li a {
    display: block;
    width: 100%;
    height: 100%;
}

.recom_goods li .title {
    font-size: 15px;
    color: #434343;
    height: 48px;
    line-height: 24px;
    text-align: justify;
    padding: 0 58px 0 20px;
    overflow: hidden;
}

.recom_goods li .title:hover {
    color: #e61716;
}

.recom_goods li .title img {
    vertical-align: top;
    margin: 4px 10px 4px 3px;
    width: 16px;
    height: 16px;
}

.recom_goods li .detail {
    overflow: hidden;
    margin-top: 18px;
}

.recom_goods li .descr {
    float: left;
    overflow: hidden;
}

.recom_goods li .descr>div {
    float: left;
    text-align: center;
    padding: 0 15px 0 15px;
    overflow: hidden;
}

.recom_goods li .descr span {
    display: inline-block;
    line-height: 26px;
    font-size: 12px;
    color: #838383;
    border-bottom: 1px solid #E1E1E1;
}

.recom_goods li .descr p {
    line-height: 26px;
    font-size: 14px;
    color: #4b4b4b;
}

.recom_goods li .detail .price {
    float: left;
    font-size: 18px;
    color: #f6a60a;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 34px;
}

.recom_goods li .detail .price span {
    font-weight: bold;
    font-size: 30px;
    color: #f31d22;
    font-family: 'moneyfont';
}

.price span img {
    margin-top: -5px !important;
}

/*下拉开始结束*/

/*底部开始*/

.footer {
    width: 100%;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.footer_top {
    background: #333;
}

.footer_top_left {
    padding: 45px 0;
}

.footer_list {
    text-align: center;
    max-width: 130px;
    margin-right: 45px;
    height: 235px;
}

.footer_list:last-of-type {
    margin-right: 0;
}

.footer_list h3 {
    font-size: 16px;
    color: #fff;
}

.footer_list a {
    display: block;
    color: #ababab;
    font-size: 14px;
    line-height: 32px;
}

.logo_lists {
    padding-left: 30px;
}

.logo_lists a {
    margin-right: 12px;
}

.footer_top_right {
    background: url(../../../images/common/area_1.png) no-repeat center center;
    padding-top: 30px;
    text-align: center;
    width: 360px;
}

.yidian_logo {
    margin-bottom: 20px;
}

.yidian_site {
    text-align: left;
    padding-left: 40px;
    color: #ababab;
    line-height: 24px;
    margin-bottom: 15px;
}

.yidian_site a {
    color: #f26709;
}

.erweima_box img {
    text-align: center;
    margin-bottom: 12px;
    width: 142px;
    height: 142px;
}

.erweima_box p {
    font-size: 12px;
    color: #ababab;
}

.footer_mid {
    background: #2a2a2a;
    padding: 30px 0;
    border-bottom: 1px solid #373737;
}

.footer_please {
    margin-bottom: 15px;
    color: #ababab;
}

.footer_contact span {
    margin-right: 30px;
}

.footer_contact img {
    margin-right: 10px;
}

.footer_name {
    color: #fff;
}

.footer_mid_left,
.footer_mids,
.footer_mid_right {
    width: 33.33%;
    position: relative;
}

.footer_mid_left:after,
.footer_mids:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 66px;
    background: #373737;
    right: 0;
    top: -5px;
}

.footer_mids {
    padding-left: 130px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.footer_mid_right {
    padding-left: 145px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.footer_change {
    color: #f6a60a;
    cursor: text;
}

.footer_bottom {
    background: #2a2a2a;
    padding: 20px 0 40px;
}

.footer_copy {
    color: #929292;
    margin-bottom: 15px;
    font-size: 12px;
}

.footer_link {
    font-size: 12px;
    color: #929292;
}

.link_lists {
    width: 88%;
}

.footer_link_name {
    line-height: 20px;
}

.link_lists a {
    margin-left: 10px;
    font-size: 12px;
    color: #929292;
    line-height: 20px;
}

.link_lists .link_more {
    color: #fff;
}

/*底部结束*/

/*底部悬浮框开始*/

.supension {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.supension_btn {
    width: 190px;
    height: 120px;
    background: url(../../../images/common/supension_1.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    bottom: 115px;
    cursor: pointer;
    left: 15px;
}

.supension_btn span {
    position: absolute;
    right: 0;
    height: 46px;
    width: 120px;
    line-height: 46px;
    bottom: 15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.supension_con {
    position: absolute;
    bottom: 0;
    left: -100%;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 108px;
}

.supension_main {
    position: relative;
}

.supension_img {
    position: absolute;
    bottom: 0;
}

.suspension_slide {
    width: 1088px;
    margin-left: 112px;
    position: relative;
}

.supension_bd_list {
    height: 108px;
    display: table;
    text-align: center;
    width: 248px;
    padding-left: 22px;
    position: relative;
}

.supension_bd_list:after {
    content: "";
    display: block;
    width: 2px;
    height: 108px;
    background: url("../../../images/common/line_kefu.png") no-repeat center center;
    position: absolute;
    top: 0;
    left: -8px;
}

.supension_bd_list:first-child:after {
    display: none;
}

.supension_dl {
    display: table-cell;
    vertical-align: middle;
    height: 108px;
}

.supension_bd {
    width: 1112px;
}

.supension_dt {
    width: 83px;
    height: 83px;
    border-radius: 100%;
    margin-right: 15px;
}

.supension_dt img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.supension_dd {
    text-align: left;
}

.supension_consult {
    margin-bottom: 3px;
    padding-top: 4px;
}

.supension_consult .supension_title {
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    background: #e60001;
    border-radius: 3px;
    font-size: 12px;
}

.supension_consult .supension_name {
    color: #fff;
}

.supension_contact {
    display: block;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 112px;
    height: 24px;
    line-height: 24px;
    background: #ffeeca url(../../../images/common/supension_btn.png) no-repeat 99px center;
    color: #603815;
    border-radius: 3px;
    font-size: 12px;
}

.supension_contact:hover {
    background-color: #603815;
    color: #ffeeca;
}

.supension_prev,
.supension_next {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 30px;
    height: 12px;
    display: inline-block;
}

.supension_prev {
    background: url(../../../images/common/supension_prev.png) no-repeat center center;
    background-size: 100% 100%;
    right: 60px;
}

/*.supension_next {
    background: url(../../../images/common/supension_next.png) no-repeat center center;
    background-size: 100% 100%;
    right: 0;
}*/

.supension_next {
    width: 25px;
    height: 61px;
    background: url(../../../images/common/change_btn.png) rgba(0, 0, 0, 0.85) no-repeat center center;
    background-size: 100% 100%;
    right: 1px;
    margin-top: -25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.supension_c {
    position: absolute;
    background: url(../../../images/common/supension_c.png) no-repeat center center;
    width: 8px;
    height: 8px;
    right: 40px;
    top: 50%;
    margin-top: -4px;
}

.supension_close {
    position: absolute;
    right: 0;
    display: block;
    width: 29px;
    height: 25px;
    background: url(../../../images/common/supension_close.png) no-repeat center center;
    top: -14px;
}

@media (max-width: 1288px) {
    .supension_close {
        position: fixed;
        right: 36px;
        top: inherit;
        bottom: 97px;
        z-index: 999;
    }
    .supension_next {
        display: none;
    }
}

.supension_more {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 36px;
    height: 17px;
    background: url(../../../images/common/supension_more.png) no-repeat center center;
}

.tianmao_list,
.jing_list,
.tao_list,
.mo_list {
    position: absolute;
    opacity: 0;
}

.maoShow {
    opacity: 100;
    z-index: 999;
}

/*底部悬浮框结束*/

.display {
    display: none;
}

/*顶部下拉*/

.header_ad {
    width: 100%;
    height: 90px;
    position: relative;
    overflow: hidden;
    display: none;
}

.header_ad .playbtn {
    display: block;
    width: 166px;
    height: 95px;
    background: url("../../../images/index/playbtn.png") no-repeat center center;
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -566px;
    z-index: 2;
}

.header_ad>a img {
    max-width: initial;
    height: 90px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    z-index: 1;
}

.header_ad .ad_close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 50%;
    margin-right: -600px;
    z-index: 2;
    cursor: pointer;
}

/* 20181212通栏 */
.header_ad .doubletwo_ad_close {
    width: 23px;
    height: 23px;
    top: 8px;
    margin-right: -586px;
}
/* 20181212通栏 */

/* 帮助中心头部 */

.helphead_center {
    width: 100%;
    background: #f6f6f6;
}

.helphead {
    width: 1200px;
    height: 80px;
    margin: auto;
    overflow: hidden;
}

.helphead_logo {
    float: left;
    display: table;
    height: 80px;
}

.helphead_logo .mid {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
}

.helphead_logo .mid a {
    display: inline-block;
    margin-top: -10px;
}

.helphead_logo .mid img {
    display: inline-block;
    max-height: 80px;
    max-width: none;
    max-width: initial;
}

.helphead_server {
    float: right;
}

.helphead_server a {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    line-height: 80px;
}

.helphead_server a:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 9px;
    background: #e3e3e3;
    margin: 0 22px;
}

.helphead_server .helpC {
    color: #ef0018;
}

.helphead_server .helpS:after {
    content: none;
}

/* 在线客服弹窗 */
.contactbox { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); z-index: 999999; display: none;}
.contactbd{width: 804px;height: 380px;background: url(../../../images/common/contact/contactbox.png) no-repeat;position: fixed;top: 50%;left: 50%;margin-top: -190px;margin-left: -402px;-webkit-transition: all .2s;transition: all .2s;-webkit-transform: scale(0);transform: scale(0)}
.contact_close{text-indent: -9999px;cursor: pointer;width: 40px;height: 40px;position: absolute;right: 22px;top: 15px;background: url(../../../images/common/contact/contact_close.png) no-repeat;}
.contact_tit{height: 70px;line-height: 70px;padding-left: 81px;font-size: 18px;color: #fff;}
.contact_list{height: 262px;overflow: hidden;}
.contact_list li{width: 200px;height: 100%;float: left;border-left: 1px solid transparent;text-align: center;}
.contact_list li:first-child{border-left: none;}
.contact_list li .p1{width: 96px;height: 96px;border-radius: 100%;-webkit-border-radius: 100%;overflow: hidden;margin: 49px auto 0;}
.contact_list li .p1 img{width: 96px;height: 96px;}
.contact_list li .p2{font-weight: bold;font-size: 18px;color: #333;height: 24px;line-height: 23px;margin-top: 24px;}
.contact_list li .p2 span,.contact_list li .p2 i{display: inline-block;vertical-align: top;width: 14px;height: 24px;padding: 0 6px;}
.contact_list li .p2 span{background: url(../../../images/common/contact/line_fl.png) no-repeat center center}
.contact_list li .p2 i{background: url(../../../images/common/contact/line_fr.png) no-repeat center center}
.contact_list li .p3{font-size: 14px;color: #fff;width: 136px;height: 32px;line-height: 32px;background: #f23737;margin: 12px auto 0;display: block;border-radius: 4px; -webkit-border-radius: 4px;box-shadow: 0 2px 8px rgba(230,15,15,0.34);-webkit-box-shadow: 0 2px 8px rgba(230,15,15,0.34)}
.contact_list li .p3 i{display: inline-block;vertical-align: top;width: 14px;height: 32px;margin-right: 6px;background: url(../../../images/common/contact/cursur.png) no-repeat center center;}
.contact_hont{height: 48px;line-height: 48px;font-size: 14px;color: #999;text-align: center;}
.contact_hont span{color: #f22a2a;}
.contactfloat{z-index: 999999;cursor: pointer;position:fixed;width:180px;height: 131px;left:0;bottom:132px;-webkit-transform:scale(0);transform:scale(0);-webkit-transition:transform .4s;-webkit-transition:-webkit-transform .4s;transition:-webkit-transform .4s;transition:transform .4s;transition:transform .4s, -webkit-transform .4s;}
.contactgifbtn{font-size: 14px;color: #4c4c4c;width: 114px;height: 30px;line-height: 30px;border: 1px solid #e0e0e0;background: url(../../../images/common/contact/icon_kefu.png) #fefefe no-repeat 24px center;border-bottom-right-radius: 4px;-webkit-border-bottom-right-radius: 4px;border-top-right-radius: 4px;-webkit-border-top-right-radius: 4px;padding-left: 52px;position: absolute;bottom: 0;left: 0;}
.contactgif{width: 180px;height: 125px;background-image: url(../../../images/common/contact/pic_e1.png);background-repeat: no-repeat;animation: kefu 3.5s steps(1) infinite;-webkit-animation: kefu 3.5s steps(1) infinite;}
@keyframes kefu { 28.5% { background-image: url(../../../images/common/contact/pic_e2.png); } 34.2% { background-image: url(../../../images/common/contact/pic_e3.png); } 37.05% { background-image: url(../../../images/common/contact/pic_e4.png); } 42.75% { background-image: url(../../../images/common/contact/pic_e5.png); } 99.75% { background-image: url(../../../images/common/contact/pic_e1.png); } }
@-webkit-keyframes kefu { 28.5% { background-image: url(../../../images/common/contact/pic_e2.png); } 34.2% { background-image: url(../../../images/common/contact/pic_e3.png); } 37.05% { background-image: url(../../../images/common/contact/pic_e4.png); } 42.75% { background-image: url(../../../images/common/contact/pic_e5.png); } 99.75% { background-image: url(../../../images/common/contact/pic_e1.png); } }